@mixin phone {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

.weekly-trends{
 
  width: auto;
  min-width: 280px;
  min-height: 489px;
  padding-top: 40px;
  background-color: rgb(73, 201, 124);
  margin: auto;
  // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);


  @include mobile {
    width: 440px;
  }
  @include tablet {
    width: 704px;
    padding-top: 52px;
  }
  @include desktop {
    width: 1336px;
    padding-top: 80px;
  }
}
.weekly-trends_caption{
  display: flex;
  
  vertical-align: center;
  align-items: center;
}
.weekly-trends_title{
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 0;
  top: 40px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
  color: #FFFFFF;
}
.weekly-trends_link{
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: auto;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
  color: #F87719;
  text-decoration: none;
}
.weekly-trends_picture{
  display: flex;
}
.weekly-trends_img{
  z-index: 100;
  background-color: rgb(195, 52, 52);
  width: 100%;
  height: auto;
@include tablet {
  width: 224px;
  height: 325px;
}
@include desktop {
  width: 395px;
  height: 574px;
}
}

.weekly-trends_picture{
  width: 100%;
  height: auto;
}
.weekly-trends_poster{
  width: 100%;
  height: auto;

}